## Preprocessing the Data

In [37]:
import warnings
warnings.filterwarnings('ignore')

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

#### EIN, NAME

In [38]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' 

application_df = application_df.drop(["EIN", "NAME"], axis=1)

#### APPLICATION_TYPE

In [39]:
type_count = application_df.APPLICATION_TYPE.value_counts()

# Determine which values to replace if counts are less than 50
replace_application = list(type_count[type_count < 50].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

#### CLASSIFICATION

In [40]:
class_count = application_df.CLASSIFICATION.value_counts()

# Determine which values to replace if counts are less than 100
replace_class = list(class_count[class_count < 100].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

### OneHotEncoder and StandardScaler

In [41]:
# Generate categorical variable list again

app_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[app_cat].nunique()

APPLICATION_TYPE          11
AFFILIATION                6
CLASSIFICATION            12
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [42]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[app_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [43]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(app_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [44]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Deep Learning Model

In [46]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=300, input_dim=51, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=150, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 300)               15600
_________________________________________________________________
dense_13 (Dense)             (None, 150)               45150
_________________________________________________________________
dense_14 (Dense)             (None, 30)                4530
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 31
=================================================================
Total params: 65,311
Trainable params: 65,311
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="SGD", metrics=["accuracy"])

## Create a callback that saves the model's weights every 5 epochs

In [48]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("AlphabetSoupCharity_Optimization.h5/",exist_ok=True)
checkpoint_path = "AlphabetSoupCharity_Optimization.h5/weights.{epoch:02d}.hdf5"

In [49]:
# Create a callback that saves the model's weights every 5 epochs
BATCH_SIZE = 32
STEPS_PER_EPOCH = y_train.size / BATCH_SIZE
SAVE_PERIOD = 5

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=int(SAVE_PERIOD * STEPS_PER_EPOCH))

In [50]:
# Train the model again but with the new callback
nn.fit(X_train_scaled, 
          y_train,
          batch_size=BATCH_SIZE,
          steps_per_epoch=STEPS_PER_EPOCH,
          epochs=30, 
          callbacks=[cp_callback])

Epoch 1/30
803/803 [==============================] - 4s 4ms/step - loss: 0.6005 - accuracy: 0.6986
Epoch 2/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5615 - accuracy: 0.7273
Epoch 3/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7276
Epoch 4/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7293
Epoch 5/30
791/803 [============================>.] - ETA: 0s - loss: 0.5518 - accuracy: 0.7292
Epoch 00005: saving model to AlphabetSoupCharity_Optimization.h5/weights.05.hdf5
803/803 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7294
Epoch 6/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7305
Epoch 7/30
803/803 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7316
Epoch 8/30
803/803 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7319
Epoch 9/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7322
Epoch 10/30
791/803 [============================>.] - ETA: 0s - loss: 0.5470 - accuracy: 0.7321
Epoch 00010: saving model to AlphabetSoupCharity_Optimization.h5/weights.10.hdf5
803/803 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7327
Epoch 11/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7321
Epoch 12/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7331
Epoch 13/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7330
Epoch 14/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7335
Epoch 15/30
781/803 [============================>.] - ETA: 0s - loss: 0.5448 - accuracy: 0.7314
Epoch 00015: saving model to AlphabetSoupCharity_Optimization.h5/weights.15.hdf5
803/803 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7322
Epoch 16/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7331
Epoch 17/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7337
Epoch 18/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7345
Epoch 19/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7335
Epoch 20/30
783/803 [============================>.] - ETA: 0s - loss: 0.5424 - accuracy: 0.7345
Epoch 00020: saving model to AlphabetSoupCharity_Optimization.h5/weights.20.hdf5
803/803 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7346
Epoch 21/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7351
Epoch 22/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7346
Epoch 23/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7333
Epoch 24/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 25/30
797/803 [============================>.] - ETA: 0s - loss: 0.5413 - accuracy: 0.7350
Epoch 00025: saving model to AlphabetSoupCharity_Optimization.h5/weights.25.hdf5
803/803 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7352
Epoch 26/30
803/803 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7350
Epoch 27/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7352
Epoch 28/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7353
Epoch 29/30
803/803 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7346
Epoch 30/30
785/803 [============================>.] - ETA: 0s - loss: 0.5407 - accuracy: 0.7355
Epoch 00030: saving model to AlphabetSoupCharity_Optimization.h5/weights.30.hdf5
803/803 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7354

In [51]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5476 - accuracy: 0.7326
Loss: 0.5476465821266174, Accuracy: 0.7325947284698486